#test-queued
  .box.success.round.align-center
    %h1 Your test has been queued
  %p
    We have created a job to run the full suite of the required api endpints for SCIM. These include:
    %ul.unstyled
      %li
        Create
      %li
        List
      %li
        Lookup
      %li
        Update
      %li
        Remove
  %p
    You will receive an email with the report of the test suite run.
